/* margin */
.margin50-l {
    margin-left: 50px;
}
.margin50-r {
    margin-right: 50px;
}
.margin50-t {
    margin-top: 50px;
}
.margin50-b {
    margin-bottom: 50px;
}
.margin50-lr {
    margin-left: 50px;
    margin-right: 50px;
}
.margin50-tb {
    margin-top: 50px;
    margin-bottom: 50px;
}
.margin50 {
    margin: 50px;
}

.margin100-l {
    margin-left: 100px;
}
.margin100-r {
    margin-right: 100px;
}
.margin100-t {
    margin-top: 100px;
}
.margin100-b {
    margin-bottom: 100px;
}
.margin100-lr {
    margin-left: 100px;
    margin-right: 100px;
}
.margin100-tb {
    margin-top: 100px;
    margin-bottom: 100px;
}
.margin100 {
    margin: 100px;
}

/* padding */

.padding20-l {
    padding-left: 20px;
}
.padding20-r {
    padding-right: 20px;
}
.padding20-t {
    padding-top: 20px;
}
.padding20-b {
    padding-bottom: 20px;
}
.padding20-lr {
    padding-left: 20px;
    padding-right: 20px;
}
.padding20-tb {
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding20 {
    padding: 20px;
}

.padding50-l {
    padding-left: 50px;
}
.padding50-r {
    padding-right: 50px;
}
.padding50-t {
    padding-top: 50px;
}
.padding50-b {
    padding-bottom: 50px;
}
.padding50-lr {
    padding-left: 50px;
    padding-right: 50px;
}
.padding50-tb {
    padding-top: 50px;
    padding-bottom: 50px;
}
.padding50 {
    padding: 50px;
}

.padding100-l {
    padding-left: 100px;
}
.padding100-r {
    padding-right: 100px;
}
.padding100-t {
    padding-top: 100px;
}
.padding100-b {
    padding-bottom: 100px;
}
.padding100-lr {
    padding-left: 100px;
    padding-right: 100px;
}
.padding100-tb {
    padding-top: 100px;
    padding-bottom: 100px;
}
.padding100 {
    padding: 100px;
}

.bordered {
    border: 1px solid #c5c5c5;
}